<h2 class="mat-headline">FAQ on Updation </h2>
<div>
  <b>What fields can I update through Self Service Update Portal (SSUP)?</b>
  <p>Using the online SSUP portal (https://ssup.uidai.gov.in/web/guest/ssup-home) Name, gender, DoB, address, mobile number
    and email can be updated.</p>
  <b>Can I request to update fields by sending request through Post? </b>
  <p>Yes, you can submit request for Name, gender, DoB, address and email update through Post mode. </p>
  <b>Where can I send the update request by post</b>
  <p>You can send the update requests by India post to one of the following addresses: Address 1: UIDAI Post Box No. 10, Chhindwara,
    Madhya Pradesh - 480001, India
    <br/> Address2: UIDAI Post Box No. 99, Banjara Hills, Hyderabad - 500034, India</p>
  <b>My mobile number is not registered in Aadhaar, how can I get my mobile number updated in Aadhaar</b>
  <p>You need to visit the nearest enrollment centre to update your mobile number. No additional documents are required.</p>
  <b>How can I know if my update request has been processed ?</b>
  <p>Once the updates have been processed, you will receive an SMS saying that your update has been processed successfully.
    You can check the update status from https://ssup.uidai.gov.in/web/guest/check-status by providing your update details.</p>
  <b>Do I also need to give update request in local language</b>
  <p>For demographic update through online SSUP portal, you need to provide the requested update data in English as well as
    local language in which Aadhaar is generated. For update through postal mode, the update data in the correction form
    needs to be provided in English as well as local language used in Aadhaar.</p>
  <b>Can I update if I have wrongly entered demographic details at the time of online update</b>
  <p>While using the online SSUP portal for update, you are requested to review the data before completing the online request.</p>
  <b>Do I get the updated Aadhaar letter</b>
  <p>Updated Aadhaar letter is sent to you if you have requested for update of Name, Address, Date of Birth and Gender.</p>
  <b>What do I do in case I do not receive my updated Aadhaar letter</b>
  <p>While you may await receipt of updated Aadhaar letter, you are requested to visit the https://eaadhaar.uidai.gov.in/ to
    download e-Aadhaar by providing your respective EID/UID.</p>
  <b>How do I get the address of my child updated in Aadhaar</b>
  <p>Address of the child can be updated by visiting the nearest enrollment centre with the parent whose Aadhaar is linked to
    the child. The supporting documents that needs to be provided are parent’s POA, proof of relationship and biometric authentication
    of linked parent. The documents can be found at https://ssup.uidai.gov.in/web/guest/ssup-instructions</p>
  <b>How can I get my name or address updated if I do not have any of the support POI/POA provided in the list</b>
  <p>UIDAI has provided 23 POI and 34 POA list of valid documents (https://ssup.uidai.gov.in/web/guest/ssup-instructions) which
    also includes Certificate of Address having photo issued by MP or MLA or Gazetted Officer or Tehsildar on letterhead
    as acceptable proof of address</p>
  <b>How do I get my email and mobile updated</b>
  <p>If your mobile number is registered in Aadhaar, you can update your mobile and email through online SSUP portal otherwise
    you need to visit the nearest enrollement centre to update your mobile and email </p>
  <b> Can I get the information in my Aadhaar letter corrected using Update process?</b>
  <p>Yes, Update modes can be used for corrections as well as changes in information.
  </p>
  <b>I have lost my mobile number/ do not possess the number that I enrolled with in Aadhaar. How should I submit my Update request? </b>
  <p>In case you have lost/do not possess anymore the mobile that you have declared at the time of enrolment, you will have
    to visit the nearest Update Centre to personally update the information. </p>
  <b>What are the valid documents for submission of Update request through Portal /Post?</b>
  <p> Depending on the field to be updated through postal mode, attach self-attested supporting documents as per the Valid Documents
    List(https://ssup.uidai.gov.in/web/guest/ssupinstructions ). - Name Correction/Update – Requires PoI listed in “Supported
    Proof of Identity(PoI) Documents Containing Name and Photo for Name Corrections/Update” - Date of Birth Correction –
    Requires DoB listed in “Supported Proof of Date of Birth (DoB) Documents” Address Corrections/Change – Requires PoA listed
    in “Supported Proof of Address (PoA) Documents Containing Name and Address” - Email and Mobile – No supporting documents
    are required Depending on the field to be updated through online SSUP mode, attach original scan copies of the supporting
    documents as per the Valid Documents List(https://ssup.uidai.gov.in/web/guest/ssup-instructions ) - Name Correction/Update
    – Requires PoI listed in “Supported Proof of Identity(PoI) Documents Containing Name and Photo for Name Corrections/Update”
    - Date of Birth Correction – Requires DoB listed in “Supported Proof of Date of Birth (DoB) Documents” Address Corrections/Change
    – Requires PoA listed in “Supported Proof of Address (PoA) Documents Containing Name and Address” - Email and Mobile
    – No supporting documents are required </p>
  <b>Is it mandatory to provide Mobile number details when submitting Update Request through Post/online portal?</b>
  <p>Yes, it is mandatory to provide mobile number as it may be used for Verification by calling the Applicant. Status of application
    will be intimated to the resident by sending a SMS on this mobile number. Applications without mobile number and Aadhaar
    for update through post will be rejected. </p>
  <b>Is affidavit accepted as a PoI?</b>
  <p> No it is not accepted. Refer list of valid documents for acceptable PoI/PoA (https://ssup.uidai.gov.in/web/guest/ssup-instructions). </p>
  <b>Is a certificate from local MP/MLA/local body official accepted as a proof document?</b>
  <p>Certificate of Address having photo issued by MP or MLA or Gazetted Officer or Tehsildar on letterhead is acceptable as
    a Proof of Address.</p>
  <b>Explain why my Update request was rejected?</b>
  <p> The update request can be rejected due to one of the following reasons; - Wrong PoA/PoI document uploaded - PoA/PoI document
    is not self-attested - Transliteration error - Supporting documents not self attested by the resident - Document uploaded
    through online SSUP portal are not found to be scanned copies of original documents - Mobile and Aadhaar shared in the
    form is incorrect - Supporting documents are not in the name of the resident</p>
  <b> Is it mandatory to provide C/o Details in Address?</b>
  <p> No, it is not mandatory to provide c/o details with address. C/o details in address is used for letter delivery purposes
    and is a part of address.</p>
  <b> My Aadhaar is suspended and has been asked to update. How do I know, what to update and how”</b>
  <p>If an Aadhaar is suspended, the normal mode of update is through a physical visit by the resident to the enrollment centers.
    You will need to do the required update as informed to you in the communication sent by UIDAI.</p>
  <b>My relative has died and I want to update their death in the Aadhaar system, what should I do?</b>
  <p>Currently UIDAI does not have a provision of recording of the death of a person as it is a means of providing for identification
    of a living person. Hence, there is no need to inform UIDAI in such cases.</p>
</div>
