<h1 class="mat-display-1">Dear Resident,</h1>
<p class="mat-body-1">
  Welcome to Aadhaar Self Service Update Portal. UIDAI is committed to provide resident friendly eco-system and self-service
  update portal is one of the various touch points to update their Address in Aadhaar in 4 easy steps:
  <br/>
  <b>STEP 1: Login with Aadhaar,
    <br/> STEP 2: Address Update Request
    <br/> STEP 3: Upload Documents and
    <br/> STEP 4: Select BPO Service Provider and submit request.
    <br/> </b>
  Note that Update here refers to any changes as well as corrections, if required, in resident´s original Aadhaar letter.
  <br />
  <b>Who can use this portal?</b>
  <br/> Any resident with a registered mobile number can update address using this portal. Registered Mobile number is mandatory
  to receive password for login.
  <br/>
  <b>What all information can be updated through this portal?</b>
  <br/> Residents can update Address through this portal. For other updates, please visit Aadhaar Enrollment / Update Center.
  View detailed instructions on submitting Aadhaar Update/ Correction requests through this portal.
  <br/>
  <b>What are the documents required to be submitted along with address update request?</b>
  <br/> Residents are required to upload scanned image of original Proof of Address(PoA)/self signed (self attested) copy of PoA
  documents for update/ correction. View the valid list of documents.
  <br/>
  <b>Will resident information be updated immediately after submission of request?</b>
  <br/> Submission of information for update does not guarantee update of Aadhaar data. The information submitted is subject to
  verification and validation.
  <br/>
</p>
<h2 class="center">
  To submit your address update/ correction request please
  <a routerLink="/updateportal">
    <button mat-raised-button color="accent">Proceed</button>
  </a>
</h2>
