<div class="mat-display-1">Using this portal you can update Address in your Aadhaar.</div>
<div class="mat-headline">Currently SSUP portal is supporting update request for following languages</div>
<!-- TODO: table implemented -->
<div>
    <mat-grid-list cols="4" rowHeight="5:1">
        <mat-grid-tile>Assamesse</mat-grid-tile>
        <mat-grid-tile>Hindi</mat-grid-tile>
        <mat-grid-tile>Oriya</mat-grid-tile>
        <mat-grid-tile>Urdu</mat-grid-tile>
        <mat-grid-tile>Bengali</mat-grid-tile>
        <mat-grid-tile>Kannada</mat-grid-tile>
        <mat-grid-tile>Punjabi</mat-grid-tile>
        <mat-grid-tile>English</mat-grid-tile>
        <mat-grid-tile>Malayalam</mat-grid-tile>
        <mat-grid-tile>Tamil</mat-grid-tile>
        <mat-grid-tile>Gujrati</mat-grid-tile>
        <mat-grid-tile>Marathi</mat-grid-tile>
        <mat-grid-tile>Telugu</mat-grid-tile>
      </mat-grid-list>
</div>

<div class="mat-headline">Instruction for Online Update Request</div>
<ol>
  

  <li>You must have registered mobile number to update address in your Aadhaar using this update portal.</li>

  Note: Registered mobile number is the number provided at the time of enrolment or updated subsequently.
  <li>If you have registered mobile number with Aadhaar, enter your Aadhaar Number to get an OTP (One Time Pin) at that mobile.</li>

  If you have not registered your mobile with Aadhaar or you have lost/do not possess anymore, you will have to visit nearest
  Update Centre.
  <li>Enter OTP and Captcha to login to the Update Portal.</li>

  <li>Select/Click the Address Update checkbox.</li>

  <li>Fill the fields with the details to be updated in English as well as in Local Language.While correcting Address. Write
    complete address. The Aadhaar letter with updated address will be delivered at the given address only.
    <ul>
      <li>In case you face any issues with the Pin Code and related data (State/District/Village/Town/City/Post office), contact
        UIDAI contact centre at help@uidai.gov.in.

      </li>
      <li>To include Guardian/ Parent/Spouse Name as part of the address, select the Address correction option. Then select appropriate
        box in C/o details and enter the name of the person in the subsequent field. C/o details can be updated as a part
        of Address update. It is not mandatory to provide C/O details while correcting you address in Aadhaar.

      </li>
      <li>You are required to fill the complete address and upload supporting PoA even if you want to update/correct only C/o
        details. It is ok if C/o details are not mentioned in your PoA document.
      </li>
    </ul>
  </li>
  <li> Upload original scanned (with color scanner) copies of PoA document as per the Valid Documents List. Refer Link for valid
    documents.</li>

  <li> Review the data entered for correctness and completeness in English as well as in local language.UIDAI will not make any
    corrections to the information in your request.</li>

  <li>Submit the request. For future reference and tracking note down your Update Request Number (URN) carefully.</li>

  You can also download /Print your Acknowledgement copy.
</ol>
